services:
    postgres_db:
        image: postgres:16-alpine
        volumes:
            - postgres_db_data:/var/lib/postgresql/data
        # Maps host port 6543 to container port 5432
        # Matches your .env DB_PORT=6543
        ports:
            - "6543:5432"
        environment:
            POSTGRES_DB: vendure
            POSTGRES_USER: vendure
            POSTGRES_PASSWORD: -m3ZXEdR3UWKQygHpUw5xw
        labels:
            - "io.vendure.create.name=Lesuto-E-Commerce-Admin"

    elasticsearch:
        # Matches the version supported by the plugin (7.x)
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
        environment:
            discovery.type: single-node
            bootstrap.memory_lock: true
            ES_JAVA_OPTS: -Xms512m -Xmx512m
        volumes:
            - elasticsearch_data:/usr/share/elasticsearch/data
        # Changed to 9200:9200 to match your vendure-config.ts
        ports:
            - "9200:9200"
        labels:
            - "io.vendure.create.name=Lesuto-E-Commerce-Admin"

volumes:
    postgres_db_data:
        driver: local
        labels:
            - "io.vendure.create.name=Lesuto-E-Commerce-Admin"
    elasticsearch_data:
        driver: local
        labels:
            - "io.vendure.create.name=Lesuto-E-Commerce-Admin"